.css-sprite-cart-icon
{
background:url('css-sprite-combined.png') 0px -64px;
width:15px;height:15px;
}

.css-sprite-fb-icon
{
background:url('css-sprite-combined.png') -15px -0px;
width:79px;height:79px;
}

.css-sprite-insta-icon
{
background:url('css-sprite-combined.png') -94px -0px;
width:79px;height:79px;
}

.css-sprite-vk-icon
{
background:url('css-sprite-combined.png') -173px -0px;
width:79px;height:79px;
}

.css-sprite-fb-iconpngcopy2
{
background:url('css-sprite-combined.png') -252px -0px;
width:79px;height:79px;
}

.css-sprite-fb-iconpngcopy
{
background:url('css-sprite-combined.png') -331px -0px;
width:79px;height:79px;
}

.css-sprite-insta-iconpngcopy2
{
background:url('css-sprite-combined.png') -410px -0px;
width:79px;height:79px;
}

.css-sprite-insta-iconpngcopy
{
background:url('css-sprite-combined.png') -489px -0px;
width:79px;height:79px;
}

.css-sprite-vk-iconpngcopy2
{
background:url('css-sprite-combined.png') -568px -0px;
width:79px;height:79px;
}

.css-sprite-vk-iconpngcopy
{
background:url('css-sprite-combined.png') -647px -0px;
width:79px;height:79px;
}

